<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}!
{% load custom_tags %}

<!-- Название у нас будет products -->
{% block title %}News{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все новости</h1>
<h4>Всего: {{ news|length }}</h4>

   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>
           {% for new in news %}
           <tr>
               <td><a href="/news/{{ new.id }}">{{ new.caption|censor }}</a></td>
               <td>{{ new.time_create|date:'d.M.Y' }}</td>
               <td>{{ new.text|censor|truncatewords:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
<p>{% current_time %}</p>
{% endblock content %}