<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}!
{% load custom_tags %}
{% load i18n %}
{% load tz %}

<!-- Название у нас  -->
{% block title %} {% trans "News" %} {% endblock title %}

<!-- В контенте на странице мы выводим все -->

{% block content %}

    {% if post_type == 'news' %}
        <h1>All news</h1>
    {% else %}
        <h1>All articles</h1>
    {% endif %}

<h4>{% trans "Total" %}: {{ news|length }}</h4>

   <hr>
   {% if news %}
       <table>
           <tr>
               <td>{% trans "Caption" %}</td>
               <td>{% trans "Publication date" %}</td>
               <td>{% trans "Text" %}</td>
           </tr>
           {% for new in news %}
           <tr>
               <td><a href="/{% if post_type == 'news' %}news{% else %}articles{% endif %}/{{ new.id }}">
                   {{ new.caption|censor }}</a></td>
               <td>{{ new.time_create|date:'d.M.Y' }}</td>
               <td>{{ new.text|censor|truncatewords:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>{% trans "There is nothing" %}!</h2>
   {% endif %}


   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

    <br>
    <br>
    <br>
    <br>

    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>


<p>{{ TIME_ZONE }}</p>
<p> {{ current_time|timezone:TIME_ZONE }}</p> <!-- Отображаем время в выбранном часовом поясе  -->

{% endblock content %}