<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}!
{% load custom_tags %}

<!-- Название у нас будет New -->
{% block title %}New{% endblock title %}

<!-- В контенте на странице мы выводим сам пост, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ new.caption|censor }}</h1>
<h5>Опубликовано: {{ new.time_create|date:'d.M.Y' }}</h5>
<hr>
<p>{{ new.text|censor }}</p>
<p>{% current_time %}</p>
{% endblock content %}