<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}!
{% load custom_tags %}

<!-- Название у нас будет New -->
{% block title %}New{% endblock title %}

<!-- В контенте на странице мы выводим сам пост, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ new.caption|censor }}</h1>

<p>
       <table>
           {% for category in new.category.all %}
           <tr>
               <td>Категория: </td>
               <td> {{  category.name  }} </td>
               <td><a href="/subscribe/?cat_id={{ category.id }}"> Подписаться </a></td>
           </tr>
           {% endfor %}
       </table>
</p>


<h6>Опубликовано: {{ new.time_create|date:'d.M.Y' }}</h6>
<hr>
<p>{{ new.text|censor }}</p>
<p>{% current_time %}</p>
{% endblock content %}